@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  box-sizing: border-box;
}

#quagga-scanner video,
#quagga-scanner canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  display: block !important;
}
